#back-to-top {
  display: inline-block;
  background-color: #141e46;
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 19vh;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: white;
  }

  &:hover {
    cursor: pointer;
    background-color: #41b06e;
  }

  &:active {
    background-color: #8decb4;
  }
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
