* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.moreImages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    border-radius: 5em;
    border: 3px solid black;
    background-color: beige;
    cursor: pointer;
  }
}

@import "./search";
@import "./image";
@import "./footer";
@import "./backtotop";
